body{
  background-color: #082032;
}

.PWMControl {
  position: absolute;
  transform: translate(250px, -400px);
}

p {
  color: #FF4C29;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.generalText{
  color: #FF4C29;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Buttons */

.button {
	color: #FF4C29;
	background-color: #2C394B;
	font-size: 19px;
	border: 1px solid #2d63c8;
	padding: 10px 10px;
  margin-bottom: 10px;
	cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button:hover {
  color: #FF4C29;
	background-color: #334756;
}

.halt {
  transform: translate(110px, 0px);
}

.gonogo{
  transform: translate(80px, -180px);
}

.speedText{
  position: absolute;
  margin-top: 70px;
  margin-left: 120px;
}

.slider{
  position: absolute;
  -webkit-appearance: slider-vertical;
}

.speedSlider{
  transform: translate(180px,0px);
  height: 215px;
  width: 20px;
}

.positionSlider{
  transform: translate(10px,0px);
  height: 400px;
  width: 10px;
}

.targetPositionSlider{
  position: absolute;
  transform: translate(10px,-535px);
  opacity: 50%;
}

.positionSubmit{
  position: absolute;
  transform: translate(70px, -413px);
}

datalist {
  display: flex;
  justify-content: space-evenly;
  writing-mode: vertical-lr;
  width: 10px;
  color: #FF4C29;
  line-height: 13px;

}

.distance {
  margin: 0px 0px 23px 0px;
  transform: translate(40px, 6px);
}

.submit{
  background-color: #2C394B;
  color: #FF4C29;
}

/* removes arrows from submit field*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Triangle buttons: */
.incrementDiv{
  position: absolute;
  transform: translate(80px, -300px);
}

.incrementDir{
  position: absolute;
  transform: translate(90px, -105px);
}

.triButtonUp{
  border-color: transparent transparent #d1d5db;
  border-width: 0 2rem 3rem;
  border-style: solid;
  /* Size */
  height: 0px;
  width: 0px;
  padding: 0.3px;
  background-color: transparent;
}

.triButtonDown{
  border-color: transparent transparent #d1d5db;
  border-width: 0rem 2rem 3rem;
  border-style: solid;
  transform: rotate(180deg);
  height: 0px;
  width: 0px;
  padding: 0px;
  background-color: transparent;
}

.triButtonUp:hover{
  border-color:transparent transparent #FF4C29;
}
 
.triButtonDown:hover{
  border-color:transparent transparent #FF4C29;
}
.positionControl{
  height: 400px;
  
}